@namespace DSD.MSS.Blazor.Components.Table
@typeparam TableItem

<div class="flex-row flex-grow mb-2" style="background-color: #F6F7F9">
    <div id="search" class="form-group flex-row icon-search flex-noshrink ml-2 mt-2 mb-2" style="color: white !important">
        <span class="fas fa-filter ml-2 mr-2 form-control-span"></span>
        <input type="text" class="form-control input-no-border form-control-sm float-left" aria-labelledby="search" 
               @bind ="@TableRef.GlobalSearch"  @oninput="@(x => { TableRef.GlobalSearch = x.Value.ToString(); TableRef.Update(); })" placeholder="@Resources.SharedResources.ResourceManager.GetString("FilterByKeyword", Resources.SharedResources.Culture)" />
    </div>
    <div class="flex-row ml-auto">

        @foreach (TableItem item in TableRef.Items)
        {
            @foreach (IColumn<TableItem> column in TableRef.Columns)
            {
                if (column.HeaderRowFilterable)
                {
                    var value = column.Render(item);
                    if (!string.IsNullOrEmpty(value) && !column.ColumnFilterItems.Contains(value))
                    {
                        column.ColumnFilterItems.Add(value);
                    }
                }
            }
        }

        @foreach (IColumn<TableItem> column in TableRef.Columns)
        {
            @if (column.HeaderRowFilterable)
            {
                <div class="dropdown ml-2 pr-3 flex-row flex-noshrink">
                    <button class="text-btn dropdown-toggle" type="button" data-toggle="dropdown">
                        @column.Title
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu checkbox-menu allow-focus text-btn-item">
                        @foreach (var item in column.ColumnFilterItems)
                        {
                            <li>
                                <label>
                                    <input type="checkbox" @onchange="args => { OnCheckboxClicked(column, item, args.Value); }">@item
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            }
            column.ColumnFilterItems.Clear();
        }
        <div class="ml-2 pr-3 flex-row flex-noshrink" style="line-height: 2.75rem;">
            <a href="javascript:void(0)" @onclick="@(()=>OnCancelClicked())" 
               aria-label="@Resources.SharedResources.ResourceManager.GetString("Cancel", Resources.SharedResources.Culture)">
                <span class="fas fa-times"></span>
            </a>
        </div>
    </div>

</div>