@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms

@typeparam TValue

@if (Label != null)
{
    <label class="AddressLookupLabel" for="@Id">@Label</label>
}

<div class="lookup @FieldCssClasses">
    <div class="lookup__wrapp">

        @if (Disabled)
        {
            <div class="lookup__input-mask-wrapper lookup__input-mask-wrapper--disabled">
                @if (Value != null)
                {
                    <div class="lookup__input-mask" tabindex="0">
                        @ValueFormatExpression.Invoke(Value)
                    </div>
                }
            </div>
            <div class="lookup__input-icon lookup__input-icon--disabled">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="lookup__down-arrow">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) " />
                    </g>
                </svg>
            </div>
            <select disabled name="countries_d" id="countries_d" class="lookup__select--disabled">
            </select>
        }
        else
        {
            <input id="@Id" 
                   @ref="_searchInput"
                   @bind-value="SearchText"
                   @bind-value:event="oninput"
                   @onkeyup="HandleKeyup"
                   @onblur="ResetControl"
                   @onfocus="HandleInputFocus"
                   @attributes="AdditionalAttributes"
                   autocomplete="off"
                   type="text"
                   class="lookup__input" />

            <div class="lookup__controls">
                @if (IsSearching)
                {
                    <div class="lookup__loader"></div>
                }
                @if (!ShouldShowSuggestions())
                {
                    <div class="lookup__clear" @onclick="HandleClear" tabindex="-1">
                        &#10005;
                    </div>
                }
                @if (!Disabled && ShowDropDownCaret)
                {
                    <div class="lookup__input-icon" @onclick="@(() => ShowMaximumSuggestions(SearchText, ""))" @onkeyup="HandleKeyUpOnShowDropDown" @onblur="ResetControl" tabindex="@(IsShowingSuggestions ? "-1" : "0")">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="lookup__down-arrow">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) " />
                            </g>
                        </svg>
                    </div>
                }
            </div>
            @if (ShowCountrySelector)
            {
                <select name="alu_countries" id="alu_countries"  
                    @onchange="@((e) => CountrySelectChanged(e))">
                    @if (CountryOptionsTemplate != null)
                    {
                        @CountryOptionsTemplate
                    }
                    else
                    {
                        @if (Countries != null)
                        {
                            <option value="">@(Language == "fr" ? "Choisissez un pays" : "Pick a country")</option>
                            @foreach (var c in Countries)
                            {
                                <option selected="@(c.Iso3 == CountryDropdownValue)" value="@c.Iso3">@(Language == "fr" ? c.Name_fr : c.Name)</option>
                            }
                        }
                    }
                </select>
            }

        }

    </div>

    @if (ShouldShowHelp())
    {
        <div class="lookup__results">
            <div class="lookup__results-help-template">
                @HelpMessage
            </div>            
        </div>
    }
    else if (ShouldShowSuggestions())
    {
        <div class="lookup__results">
            @for (var i = 0; i < Suggestions.Length; i++)
            {
                var item = Suggestions[i];

            <div @key="item" class="lookup__result @(HighlightSelectedItemInList ? GetSelectedSuggestionClass(item, i) : "")"
                 @onclick="@(_ => item.Next == NEXT_FIND_VALUE ? SelectFindResult(item) : SelectRetrieveResult(item))">
                
                @if (ListTemplate == null)
                {
                    @((MarkupString)item.Formatted)
                }
                else
                {
                    @ListTemplate(item);
                }
            </div>
            }
        </div>
    }
    else if (ShowNotFound())
    {
        <div class="lookup__results">
            <div class="lookup__notfound">
                @NotFoundMessage
            </div>            
        </div>
    }
</div>
@if (ValidationFor != null)
{
    <ValidationMessage For="ValidationFor" />
}