@page "/en/alert"
@page "/fr/alert"

@inherits BasePageComponent
@using DSD.MSS.Blazor.Components.Core.Constants
@using DSD.MSS.Blazor.Components.Core.Components
<h1>Alert Components</h1>

<div class="row well">
    <div class="col-8">
        <div class="card mt-3">
            <div class="card-body p-5">
                <p>Alert components </p>
                <AlertComponent Title="Success" Message="Sucess Message" EnableShow="true" AlertType="@AlertTypes.Success" />
                <AlertComponent Title="Danger" Message="Danger Message" EnableShow="true" AlertType="@AlertTypes.Danger" />
                <AlertComponent Title="Information" Message="Information Message" EnableShow="true" AlertType="@AlertTypes.Information" />
                <AlertComponent Title="Warning" Message="Warning Message" EnableShow="true" AlertType="@AlertTypes.Warning" />
                <AlertComponent Title="Primary" Message="Primary Message" EnableShow="true" AlertType="@AlertTypes.Primary">
                    <span>
                        The <b>AlertMessage</b> could be of these types: <br /><br />
                        <ul>
                            <li>Success</li>
                            <li>Danger</li>
                            <li>Information</li>
                            <li>Warning</li>
                            <li>Primary</li>
                        </ul>
                    </span>
                </AlertComponent> />

            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card mt-3">
            <div class="card-body p-5">

                <p>Alert components with cancel button </p>
                <AlertComponent Title="Success" Message="Sucess Message" EnableShow="true" AlertType="@AlertTypes.Success" Dismisable="true" />
                <AlertComponent Title="Danger" Message="Danger Message" EnableShow="true" AlertType="@AlertTypes.Danger" Dismisable="true" />
                <AlertComponent Title="Information" Message="Information Message" EnableShow="true" AlertType="@AlertTypes.Information" Dismisable="true" />
                <AlertComponent Title="Warning" Message="Warning Message" EnableShow="true" AlertType="@AlertTypes.Warning" Dismisable="true" />
                <AlertComponent Title="Primary" Message="Primary Message" EnableShow="true" AlertType="@AlertTypes.Primary" Dismisable="true" />
            </div>

        </div>
    </div>
</div>