@if (EnableShow)
{
    <section class="@(this.ShowIcon ? "alert-icon" : "alert") @this.AlertTypeCssString @(this.Dismisable ? "alert-dismissible" : "") fade show" role="alert">
        @if (this.ShowIcon)
        {
        <div class="icon" aria-hidden="true">
            <i class="fas fa-lg @this.AlertFontAwesomeIconString"></i>
        </div>
        }
        <div class="message">
            @if (!string.IsNullOrEmpty(this.Title))
            {
                <h5>@this.Title</h5>
            }
            <p class="mrgn-lft-md">@this.Message</p>
            <div class="mrgn-lft-md">@this.ChildContent</div>
        </div>
        @if (this.Dismisable)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" color="link" @onclick="this.HandleCancelClick">
                <span aria-hidden="true">&times;</span>
            </button>
        }
    </section>
}