@inherits FormInputComponentBase<bool>

<div class="form-group custom-control custom-checkbox">
    <InputCheckbox @attributes="this.AdditionalAttributes" id="@this.Id" name="@this.Id" class="@($"custom-control-input {this.CssClass}")" @bind-Value="this.CurrentValue" @oninput="this.OnChangeAsync" />
    @if (!string.IsNullOrWhiteSpace(this.Text))
    {
        <label for="@this.Id" class="custom-control-label">@this.Text</label>
    }
</div>