@typeparam T
@inherits InputBase<T>

<div class="form-group">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label for="@Id" class="@($"form-label {Required}")"><b>@Label</b></label>
    }
    <InputText @attributes="this.AdditionalAttributes" id="@Id" name="@Id" class="@($"form-control {CssClass}")" @bind-Value="CurrentValueAsString" />
    <ValidationMessage For="@ValidationFor" />
</div>