@inherits InputBase<DateTime?>

<div class="form-group">
    @if (!string.IsNullOrWhiteSpace(this.Label))
    {
        <label for="@Id" class="@($"form-label {this.Required}")"><b>@this.Label</b></label>
    }
    <div>
        <InputDate @attributes="this.AdditionalAttributes" id="@this.Id" name="@this.Id" style="float:left; min-width: 180px; margin-right: 10px;" class="@($"form-control w-25 {this.CssClass}")" @bind-Value="this.CurrentValue" />
        @if (this.Time)
        {
            <input @attributes="this.AdditionalAttributes" id="@($"{this.Id}-Time")" name="@($"{this.Id}-Time")" aria-labelledby="@this.Id" type="time" @bind=this.CurrentValue style="min-width: 180px;" class="@($"form-control w-25 {this.CssClass}")" />
        }
        <div class="clearfix"></div>
    </div>
    <ValidationMessage For="@this.ValidationFor" />
</div>