@typeparam T
@inherits InputBase<T>

<div class="form-group">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label for="@this.Id" class="form-label @(this.Required)">
            @if (this.IsRequired)
            {
                <b>@this.Label<span>*</span></b>
            }
            else
            {
                <b>@this.Label</b>
            }
        </label>
    }
    @if (!string.IsNullOrEmpty(InputAreaIcon))
    {
        <div style="position:relative">
            <i class="@InputAreaIcon" style="position:absolute; top:10px; left:auto; right:10px;"> </i>
            <InputText @attributes="this.AdditionalAttributes" id="@Id" name="@Id" class="@($"form-control {CssClass}")" @bind-Value="CurrentValueAsString" />
            <ValidationMessage For="@ValidationFor" />
        </div>
    }
    else
    {
        <InputText @attributes="this.AdditionalAttributes" id="@Id" name="@Id" class="@($"form-control {CssClass}")" @bind-Value="CurrentValueAsString" />
        <ValidationMessage For="@ValidationFor" />
    }
</div>