@inherits InputBase<DateTime?>

<div class="form-group">
    @if (!string.IsNullOrWhiteSpace(this.Label))
    {
        <label for="@this.Id" class="form-label @(this.Required)">
            @if (this.IsRequired)
            {
                <b>@this.Label<span>*</span></b>
            }
            else
            {
                <b>@this.Label</b>
            }
        </label>
    }
<div>
    @if (string.IsNullOrWhiteSpace(DateFormatToUse))
    {
            <InputDate @attributes="this.AdditionalAttributes" id="@this.Id" max="9999-12-31" name="@this.Id" style="float:left; min-width: 180px; margin-right: 10px;" class="@($"form-control w-25 {this.CssClass}")" Value="@Value" ValueChanged="@((DateTime? value)=>OnDateChange(value))" ValueExpression="ValueExpression" />
    }
    else
    {
        <InputText @attributes="this.AdditionalAttributes" id="@this.Id" name="@this.Id" style="float:left; min-width: 180px; margin-right: 10px;"
            class="@($"form-control w-25 {this.CssClass}")"
            Value="@DateFormattedValue" ValueChanged="@((string value)=> OnDateChange(value))"
            ValueExpression="@(() => DateFormattedValue)" />
    }

    @if (this.Time)
    {
        <InputText @attributes="this.AdditionalAttributes" id="@($"{this.Id}-Time")" name="@($"{this.Id}-Time")" aria-labelledby="@this.Id" type="time" Value="@TimeValue" ValueChanged="@((string value)=>OnTimeChange(value))" ValueExpression="@(()=>TimeValue)" style="min-width: 180px;" class="@($"form-control w-25 {this.CssClass}")" />
    }

    <div class="clearfix"></div>
</div>
    <ValidationMessage For="@this.ValidationFor" />
</div>