@typeparam T
@inherits InputBase<T>

<div class="form-group">
    @if (!string.IsNullOrWhiteSpace(this.Label))
    {
        <label for="@this.Id" class="form-label @(this.Required)">
            @if (this.IsRequired)
            {
                <b>@this.Label<span>*</span></b>
            }
            else
            {
                <b>@this.Label</b>
            }
        </label>
    }
    <InputNumber @attributes="@this.AdditionalAttributes" id="@this.Id" name="@this.Id" class="@($"form-control {this.CssClass}")" @bind-Value="this.CurrentValue" />
    <ValidationMessage For="@this.ValidationFor" />
</div>
