<div class="form-group">
    <label for="@this.Id" class="form-label">@this.Title</label>
    <div style="display: flex;">
        <button class="btn btn-outline-secondary multiple-select" style="flex: 1;" type="button" data-toggle="collapse" data-target="@($"#{this.Id}")" aria-expanded="false" aria-controls="collapseExample" onClick="($(this).find('span').className == 'fa fa-angle-up')?$(this).find('span').className='fa fa-angle-down':$(this).find('span').className='fa fa-angle-up'">
            <span style="float: left">
            @if(this.ShowSelectedItemsAsSelectTitle)
            {
                foreach(var selctedItem in this.SelectedItems)
                {
                    <span class="badge bg-primary text-white ml-1">@selctedItem.Text</span>
                }
            }
            else
            {
                <span>@this.SelectTitle</span>
            }
            </span><span class="fa fa-angle-down" style="float: right"></span>
        </button>
    </div>
    <div class="collapse mt-1" id="@this.Id">
        <div class="card card-body" style="padding:0px !important">
            <ul class="checkbox-menu allow-focus text-btn-item" style="list-style: none;">
                @foreach (var item in this.CheckBoxList)
                {
                    <li>
                        <label>
                            <InputCheckbox id="@item.Id" name="@item.Id" @bind-Value="@item.Value" />@item.Text
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>